/* --- FONT --- */
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root {
  --heading-font: Playfair Display;
  --body-font: Fira Sans;
}

/* --- BASE COLOURS --- */
:root {
  --white: #FCF6EE;
  --cream: #EECE9F;
  --lightbrown: #C2986F;
  --brown: #673A14;
  --darkbrown: #44270D;
  --green: #606C38;
  --darkgreen: #283618;
}

/* --- CSS RESET --- */
html, body {
    font-family: var(--body-font), sans-serif;
    font-size: 16px;
    background-color: var(--cream);
    /* color: #F9EDDC; */
    /* box-sizing: border-box;
    font-size: 16px;
    font-family: "Inter", sans-serif;
    color: var(--black);
    scroll-behavior: smooth; */
  }
  *,
  *:before,
  *:after {
    /* box-sizing: inherit; */
  }
  h1 {
    font-family: var(--heading-font), serif;
    font-size: 48px;
  }
  h2 {
    font-family: var(--heading-font), serif;
    font-size: 36px;
    color: var(--darkbrown);
  }
  h3{
    font-family: var(--heading-font), serif;
    font-size: 24px;
    color: var(--darkbrown);
  }
  h4,
  h5,
  h6 {
    /* font-family: "Rubik", sans-serif; */
  }
  body,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ol,
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
  ol,
  img {
    max-width: 100%;
    height: auto;
  }
  input,
  button,
  textarea,
  select {
    font: inherit;
  }

/* --- UTILITIES --- */

.display-none {
    display: none;
  }

/* --- HEADER --- */

header {
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.monogram {
  height: 50px;
}

.hamburger-icon {
  height: 40px;
  filter: invert(95%) sepia(6%) saturate(1170%) hue-rotate(326deg) brightness(107%) contrast(99%);
}

.mobile-nav a {
  text-decoration: none;
  display: block;
  padding: 4px 16px;
}

.desktop-nav {
  display: none;
}

@media (min-width: 768px) {
  .desktop-nav a {
      text-decoration: none;
      font-size: larger;
  }

  .desktop-nav {
      display: inline-block;
  }

  .hamburger-icon {
    display: none;
  }
}

/* --- HERO --- */
section.hero {
  background-color: var(--green);
  padding: 40px 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.headshot {
  max-height: 250px;
  width: auto;
  border-radius: 50%;
}

.my-intro {
    display:flex;
    justify-content: center;
    align-items: center;
}

.hero h1 {
    color: var(--cream);
}

p.intro-tagline {
    color: var(--white);
}

.socials-icon {
    width: 30px;
    height: 30px;
    /* filter: invert(95%) sepia(6%) saturate(1170%) hue-rotate(326deg) brightness(107%) contrast(99%); */
    /* filter: invert(24%) sepia(10%) saturate(4122%) hue-rotate(347deg) brightness(92%) contrast(90%); BROWN*/
    /* filter: invert(62%) sepia(40%) saturate(361%) hue-rotate(348deg) brightness(94%) contrast(89%); LIGHT BROWN */
    filter: invert(86%) sepia(21%) saturate(580%) hue-rotate(342deg) brightness(97%) contrast(92%);
  }

.socials-icon:hover {
    transform: translate3d(0, -0.2em, 0);
}

/* --- ABOUT ME --- */

section.about-me {
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-me-text h2 {
  padding: 0px 16px;
  /* margin: 5px 10px;   */
}

.about-me-text p {
  background-color: var(--green);
  color: var(--white);
  padding: 32px 16px;
  border-radius: 10px;
  margin: 5px 10px;    
}

.about-me-pic {
  max-height: 600px;
  width: auto;
  border-radius: 50%;
}

/* --- MY PROJECTS --- */
section.my-projects {
  background-color: var(--lightbrown);
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project-card {
  background-color: var(--cream);
  text-align: center;
  width: 70%;
  padding: 32px 16px;
  border-radius: 10px;
  margin: 5px 10px;  
}

/* --- CONTACT FORM --- */
.contact-form {
    background-color: var(--brown);
    padding: 48px 16px;
    color: var(--cream);
}

.contact-form input {
  display: block;
  width: 90%;
  padding: 8px;
  margin-bottom: 16px;
}

.contact-form textarea {
  display: block;
  width: 90%;
  padding: 8px;
}

.contact-form label {
  display: block;
  width: 100%;
}

.contact-form h2 {
  color: var(--cream);
  margin-bottom: 16px;
}

.contact-form input[type="submit"] {
  background-color: var(--darkgreen);
  color: var(--cream);
  width: 90%;
  border: 0;
  margin-top: 8px;
  cursor: pointer;
}

/* --- FOOTER --- */
footer{
  color: var(--cream);
  background-color: var(--darkbrown);
  font-size: 14px;
  display: flex;
  justify-content: center;
}
