/* --- FONT --- */
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100..900&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* --- BASE COLOURS --- */
:root {
    --green: #606C38;
    --darkgreen: #283618;
    --beige: #FEFAE0;
    --brown: #DDA15E;
    --darkbrown: #BC6C25;
    --brand: #606C38;
    --brand-alt: #283618;
    --action: ;
    --action-alt: ;
    --base-0: #FEFAE0;
    --base-100: #e7dfc4;
    --base-200: #d1c5a7;
    --base-300: #bcaa8c;
    --base-400: #a79172;
    --base-500: #937859;
    --base-600: #7f5f42;
    --base-700: #6c482d;
    --base-800: #583119;
    --base-900: #451a03;
  }

/* --- CSS RESET --- */
html, body {
    font-family: 'Fira Sans', sans-serif;
    font-size: 16px;
    background-color: var(--base-0);
    /* box-sizing: border-box;
    font-size: 16px;
    font-family: "Inter", sans-serif;
    color: var(--black);
    scroll-behavior: smooth; */
  }
  *,
  *:before,
  *:after {
    /* box-sizing: inherit; */
  }
  h1 {
    font-family: 'Catamaran', serif;
    font-weight: bold;
    font-size: 26px;
  }
  h2,
  h3,
  h4,
  h5,
  h6 {
    /* font-family: "Rubik", sans-serif; */
  }
  body,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ol,
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
  ol,
  img {
    max-width: 100%;
    height: auto;
  }
  input,
  button,
  textarea,
  select {
    font: inherit;
  }

/* --- UTILITIES --- */

.display-none {
    display: none;
  }

/* --- HEADER --- */

header {
    background-color: var(--brand-alt);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hamburger-icon {
  height: 50px;
  filter: invert(95%) sepia(6%) saturate(1170%) hue-rotate(326deg) brightness(107%) contrast(99%);
}

.mobile-nav a {
  text-decoration: none;
  color: var(--black);
  display: block;
  padding: 4px 16px;
}

.desktop-nav {
  display: none;
}

@media (min-width: 768px) {
  .desktop-nav a {
      text-decoration: none;
      font-size: larger;
      color: var(--base);
  }

  .desktop-nav {
      display: inline-block;
  }

  .hamburger-icon {
    display: none;
  }
}

/* --- HERO --- */
section.hero {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: var(--brand);
}

.headshot {
  max-height: 250px;
  width: auto;
}

.my-intro {
    display:flex;
    justify-content: center;
    align-items: center;
}

.hero h1 {
    color: var(--brown)
}

p.intro-tagline {
    color:var(--base-0)
}

.socials-icon {
    width: 30px;
    height: 30px;
    filter: invert(95%) sepia(6%) saturate(1170%) hue-rotate(326deg) brightness(107%) contrast(99%);
}

.socials-icon:hover {
    transform: translate3d(0, -0.2em, 0);
}

/* --- ABOUT ME --- */

section.about-me {
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

article.about-me-text {
    max-width: 600px;
}

.about-me-pic {
    max-height: 600px;
    width: auto;
}

/* --- MY PROJECTS --- */
section.my-projects {
    background-color: var(--brown);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* --- CONTACT FORM --- */
.contact-form {
    background-color: var(--base-700);
    padding: 48px 16px;
    color: var(--base-0);
}

.contact-form input {
  display: block;
  width: 90%;
  padding: 8px;
  margin-bottom: 16px;
}

.contact-form textarea {
  display: block;
  width: 90%;
  padding: 8px;
}

.contact-form label {
  display: block;
  width: 100%;
}

.contact-form h2 {
  color: var(--base-0);
  margin-bottom: 16px;
}

.contact-form input[type="submit"] {
  background-color: var(--action);
  border: 0;
  margin-top: 8px;
  cursor: pointer;
}

/* --- FOOTER --- */
footer{
    display: flex;
    justify-content: center;
    color: var(--base-0);
    background-color: var(--base-900);
}
